.firstone{
        background-color:rgb(236, 219, 198);
        margin: 0;
        padding:0;
        
}

nav{
    margin: 10px;
    align-items: center; 
}
.logo{
    display: flex;
}
nav{
   margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
   list-style-type: none;
    text-decoration: none;
    justify-content: center;
}
li{
    margin: 10px; 
}
.btn{
    display: flex;
    gap: 10px;
    padding: 0 130px;
}
#im{
    padding-right: 200px;
   
}
button{
    height: 30px;
    padding: 0 30px;
    border: transparent;
}
/* the buttons sign up */
.white{
   padding: 7px 17px;
 background-color: white;
 border: green;
    
}
/* the create account button */
.yellow{
    padding: 7px 17px;
    background-color: yellow;
    color: rgb(7, 7, 7);
    /* width: 135px; height:40px ; */
    
}
/* resizing and colouring h1 */
h1{
    font-weight: bold;
    color: rgb(18, 94, 75);
    font-size: 50px;
    font-family:;
}
/*  resizing and colouring p tag */
p{
    color: rgb(155, 154, 154);
}
/*  all the */
.bye{
    background-color: yellow;
    border: none;
    border-radius: 3px;
}
#pic{
    margin: 20px;
   display: flex; 
   height: 45px;
   width: 100px;
     
}
#all{ 
    width: 100%;
    max-width: 1200%;
    margin:0 auto;
   font-size: large;
   padding: 20px;
}
/* the flex for the top */
.firstone{
    display: flex;
    flex: 100%;
   justify-content:space-between;
   
}
.bye{
    text-decoration: none;
    
}

/* the css for the green and picture */
.secondsection{
   
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 97, 100);
    
   
}

/* the text  */
.secondsection{
color: white;
align-items: center;
min-height: auto;
}

.crl{
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 30px;
}
.ff{
    padding: 30px;
}
.secondsectiontxt{
   transform: translateY(-18px);
   flex-direction: column;
    font-weight: bolder;
    color: white;
    justify-content: center;
    text-align: center;
    
}
.secondsectionimg{
   background-size: contain;
    float: right;
    
}
.thirdsection{
   background-color:rgb(217, 239, 243);
    height: 500px;
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-weight: bolder;
    text-align: center;
}
.thirdsection1, .thirdsection2{
    margin-right: 200px;
   
}
.thirdsection1{
    border-right: solid black;
}
.thirdsection2{
    border-right: solid black;
    
}
 h2, p{
   gap: 2%; 
}
.sec{
    text-align: center;
    margin-top:100px;
    background-color: white;
}
.secsec{
    height: 400px;
    background-color:#FCF2DB;
    padding: 2%;
    border:#FCF2DB ;
    margin: 2%;
     border-radius: 10%;
}
.pp{
   color: black;
    font-weight: bolder;
}
.ppp{
  font-weight: bold;
}
.rond{
    display: flex;
    justify-content: center;
    gap: 12%;
    outline:yellow;
}
.sub{
    background-color: black;
    color: white;
    border-radius: 15px;
    height: 50px;
}
.sub{
    border-radius: 15px;
    height: 50px; 
    border: transparent;
}
.tra{
    border-radius: 15px;
    height: 50px;
    width: 170%;
    border: transparent;
    border: yellow;
}
.tra:focus{
    border: 2px yellow solid;
    outline: rgb(206, 129, 110) solid;
    outline-offset: 2px;
}