@import url('https://fonts.googleapis/css?family=Montserrat:500');


header{
box-sizing: border-box;
margin: 0;
padding: 0;
background-color: #24252A;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:blanchedalmond;
    text-decoration: none;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav-items{
    list-style: none;
}
.nav-items li {
    display: inline-block;
    padding: 0px 20px;

}
.nav-items li a {
transition: all 0.3s ease 0s;
}
.nav-items li a :hover {
    color: red;
    }
    button{
        padding: 9px 25px;
        background-color: rgba(green);
        
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
.nav-items {
    
}
